# Copia este archivo a .env y rellena los valores

# flowly.settings.development | flowly.settings.production
DJANGO_SETTINGS_MODULE=flowly.settings.development

# Genera uno con: python -c "import secrets; print(secrets.token_urlsafe(64))"
DJANGO_SECRET_KEY=cambia-esto-por-un-secreto-largo

DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=

# PostgreSQL (Railway la inyecta automáticamente en producción)
DATABASE_URL=postgres://flowly:flowly@localhost:5432/flowly

# Solo producción (opcional)
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_HSTS_SECONDS=0
